@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Oswald-Regular.ttf');
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	text-align:center;
	background:url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2M8c+bMs////29mgALG06dPz4RxQDRcgJGR0RekEkMFACUHE+0kuoODAAAAAElFTkSuQmCC
	) repeat;
	/*data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGUlEQVQIW2NkYGDwAWKsgBEq+Ryb7KCTBADnDAeGi2dshwAAAABJRU5ErkJggg==*/
}

h1, h2, h3, h4, h5 {
	font-family:'Oswald', sans-serif;
}

small {
	font-size:12px;
}

form {
	font-size:14px;
	max-width:300px;
}

::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; }
:-moz-placeholder { font-style: italic; }
:-ms-input-placeholder { font-style: italic; }

form table th, caption {
	background-color:rgba(81, 81, 81, 0.1);
	color:#750b0b;
	border:1px solid transparent;
	border-radius:2px;
	margin:0 auto 10px auto;
}

form table td{
	padding-right: 5px;
}

form label {
	float: left;
}

form input {
	float: left;
	padding: 0 5px;
	min-width: 190px;	
	border:solid transparent;
	border-radius:2px;
}

textarea {
	resize:none;	
}

form .field {
	padding:2px;
	text-transform: uppercase;
}

.top {
	margin:60px 200px;
	float:right;
}

.top a {
	text-decoration:none;
	color: #000;
	font-family:'Oswald', sans-serif;
}
.top a:hover {
	text-decoration:none;
	color: #750b0b;
}

.top .actived {
	color: #750b0b;	
}

.content {
	width:auto;
	margin:0;
	padding:0;
	min-height:100%;
	position:relative;
}

.middle-content {
	height: 400px;
	padding: 10px 10%;
	margin: 0 auto;
	width: auto;
	border:solid 1px transparent;
	border-radius:3px;
	background: rgba(81, 81, 81, 0.1);
	padding-bottom:80px; 
}

.footer {
	clear:both;
	width: 100%;
	color: #fff;
	font-size:16px;
	background:#333;
	padding:10px 0 10px 0;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}

.effect {
	background:rgba(81, 81, 81, 0.7);
	color:#D3D3D3;
}

.btnSend {
	cursor:pointer;
}